{{ define "header" }}

<div id="uheader">

    <a href="/"><img src="/static/img/logo/logo.png" id="ulogo" alt=""/></a>
    <a href="/"><img src="/static/img/logo/logo-small.png" id="ulogo2" alt="logo2" class="uhide"/></a>

    <div id="ubuttonsheader">
        {{ if .UserState.Logged }}
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-envelope"></span>
                <span class="notifica">0</span>
            </button>
            <!-- fine del primo if -->
            <!-- qui ci metterei un if notifiche > 0 --->
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-bell"></span>
                <span class="notifica">0</span>
            </button>
            <!-- fine del secondo if -->

            <button type="button" class="btn btn-default pull-right" data-toggle="dropdown">
                {{ .UserState.Email }}
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu pull-right" role="menu" >
                <li><a href="/profile"><i class="fa fa-user"></i>&nbsp;My Profile</a></li>
                <li><a href="/change-password"><i class="fa fa-key"></i>&nbsp;Change password</a></li>
                <li><a href="/options"><i class="fa fa-cog"></i>&nbsp;Options </a></li>
                <li class="divider"></li>
                <li><a href="/auth/internal/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a> </li>
            </ul>
        </div>
        {{ else }}
        <div class="btn-group" role="group" aria-label="...">
            <a href="/login" ><button type="button" class="btn btn-default"><i class="fa fa-sign-in"></i> Login</button></a>
        </div> or
        <div class="btn-group" role="group" aria-label="...">
            <a href="/signup" ><button type="button" class="btn btn-default"><i class="fa fa-user-plus"></i> Sign up</button></a>
        </div>

        {{ end }}


    </div> <!-- ubuttonsheader -->
</div> <!-- uheader -->


{{ end }}