{{ define "login" }}

{{ template "head" . }}

<style>
    .dg
</style>

<body xmlns="http://www.w3.org/1999/html" id="uab">

{{template "header" . }}

<div id="scrollingsection" class="uaresection">
    <!-- page message section -->
    {{ template "flash" .Flashes }}
    <!-- col-xs-6 col-sm-4  ... class="well well-sm"-->
    <h4>
        <ol class="breadcrumb">
            <!--<li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>-->
            <li class="active">Log in</li>
        </ol>
    </h4>
    <div class="uform-login" >
        <form class="form-signin" name='input' target='_self' method='post' action='/auth/internal/login'>
            <h2 class="form-signin-heading">Please Log in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input  name='Email' type="email" id="inputEmail" class="form-control" placeholder="Email address"
                    value="{{ .ExtendedState.LastLogin }}"
                    required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input name='Password' type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="RememberMe" value="1">Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <p style="text-align:center; margin:0px; padding:5px;"><em>or</em></p>
        </form>
        <a href="/request-reset"><button class="btn btn-lg btn-primary btn-block" >Reset password</button></a>
    </div>
    <br>
</div>

{{ template "footer" . }}

</body>

{{ end }}