{{ define "request-reset" }}

{{ template "head" . }}

<style>
    .dg
</style>

<body xmlns="http://www.w3.org/1999/html" id="uab">

{{template "header" . }}

<div id="scrollingsection" class="uaresection">
    <!-- page message section -->
    {{ template "flash" .Flashes }}

    <h4>
        <ol class="breadcrumb">
            <!--<li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>-->
            <li class="active">Request password reset</li>
        </ol>
    </h4>

    <form name='input' target='_self' method='post' action='/auth/internal/request-reset'>
        "Please enter email address:"
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input name='Email' class="span2" placeholder="account's email address" id="inputIcon" type="test" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary" >Request reset</button>
        <br>
    </form>
    <br/>
    <br>

</div>

{{ template "footer" . }}

</body>

{{ end }}