{{ define "reset-password" }}

{{ template "head" .Context }}

<style>
    .dg
</style>

<body xmlns="http://www.w3.org/1999/html" id="uab">

{{template "header" .Context }}

<div id="scrollingsection" class="uaresection">
    <!-- page message section -->
    {{ template "flash" .Context.Flashes }}

    <h4>
        <ol class="breadcrumb">
            <!--<li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>-->
            <li class="active">Reset password</li>
        </ol>
    </h4>

    <form name='input' target='_self' method='post' action='/auth/internal/reset-password/{{ .RecoveryCode }}'>
        <!-- Complexity criteria are: <strong>1 capital letter, 1 lowcase letter and 1 number minimum.</strong>--><br/>
        <br/>
        Please enter new password:
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input name='NewPassword' class="span2" placeholder="password" id="inputIcon" type="password" required>
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input name='NewPasswordConfirmation' class="span2" placeholder="confirm" id="inputIcon" type="password" required>
        </div>

        <button type="submit" class="btn btn-primary" >Confirm password reset</button>
        <br>
    </form>
    <br/>
    <br>

</div>

{{ template "footer" .Context }}

</body>

{{ end }}